.container{
    width: 500px;
    margin: 0 auto;
    border: #000000;
    border-radius: 10px;
}

body {
    background-color: rgba(247, 233, 233, 0.884);
}

#form-todo input {
    border: 1px solid black;
    height: 1rem;
    flex: 1;
    gap: 0 0.5rem;
    padding-right: 300px;
}

#form-todo button {
    background-color: yellow;
    color: black;
    width: 30px;
    border: none;
}

#todo-list {
    list-style-type: none;
    border: 1px solid #EBEBEC;
    word-wrap: break-word;
    padding: 0;
}

#todo-list li {
    padding: 0.5rem 1rem;
}

#todo-list li:nth-child(odd) {
    background-color: #F6F6F6;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
